.formulario {
  width: 900px;
  margin: 0 auto;
  padding: 1rem;
  border: white solid 2px;
  padding-bottom: 20px;
}

.pcontacto {
  font-size: 28px;
  padding-top: 150px;
}

.textoformulario {
  color: white;
  padding: 10px;
}

.boton {
  background-color: rgba(88, 86, 86, 0.596);
}
.boton:hover {
  background-color: rgb(24, 158, 69);
}

.container {
  display: grid;
  grid-template-columns: 6.2fr;
  grid-template-rows: 0.5fr 2.9fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 3px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 6.2fr;
    grid-template-rows: 0.5fr 2.9fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "main" "footer";
  }
  .formulario {
    width: 800px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    grid-template-columns: 6.2fr;
    grid-template-rows: 0.5fr 2.9fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "main" "footer";
  }
  .formulario {
    width: 500px;
  }
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 250px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
}

.flex-container2 {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.botoncards {
  background-color: white;
}

.botoncards:hover {
  background-color: rgb(17, 185, 93);
}

.tamanologo2 {
  height: 30px;
  width: 30px;
}

.tamanofb2 {
  height: 26px;
  width: 27px;
  border-radius: 10px;
}

.imgcards {
  height: 250px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.cardpropia {
  background-color: rgba(54, 48, 48, 0.37);
}

.logoredes {
  margin-left: 100px;
  margin-top: 100px;
}

.logoredes2 {
  margin-left: 100px;
}

.titulopropio {
  color: white;
}

.p1 {
  margin-top: 200px;
}

body main {
  grid-area: main;
  padding-top: 200px;
}
body main .flex-container {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  justify-content: space-around;
}
body main .flex-container h2 {
  padding: 20px;
}
body main .flex-container .destacada {
  font-size: 3rem;
  color: red;
  text-align: center;
}
body main .flex-container .linksedit {
  text-decoration: none;
  font-size: 26px;
  color: greenyellow;
}
body main .flex-container .img1 {
  width: 200px;
  margin: 20px;
  transition: all 2s ease;
}
body main .flex-container .img1:hover {
  transform: scale(1.4);
}
body main .flex-container .img2 {
  width: 300px;
  margin: 30px;
  transition: all 2s ease;
}
body main .flex-container .img2:hover {
  transform: scale(1.4);
}
body main .flex-container .img3 {
  width: 300px;
  margin: 20px;
  transition: all 2s ease;
}
body main .flex-container .img3:hover {
  transform: scale(1.4);
}
body main .flex-container .img4 {
  width: 230px;
  margin: 10px;
  transition: all 2s ease;
}
body main .flex-container .img4:hover {
  transform: scale(1.7);
}

p {
  text-align: center;
  color: white;
  font-size: 26px;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

header nav div .imgnav {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
header h5 .logomh {
  width: 150px;
  height: 80px;
}
header li .letramenu {
  font-size: 1.5rem;
}

.textonavb {
  margin-left: 100px;
}

footer {
  background-color: rgba(49, 59, 56, 0.562);
  text-align: center;
  margin-top: 20px;
}

.tamanologo {
  height: 55px;
  width: 55px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
}

.tamanofb {
  height: 45px;
  width: 45px;
  border-radius: 20px;
}

.fontfooter {
  font-family: "Bruno Ace SC", cursive;
  font-size: 1rem;
  color: white;
  padding: 10px;
}

main h2 {
  color: white;
  padding-top: 50px;
  text-align: center;
}
main h4 {
  color: white;
  text-align: center;
  text-decoration: wavy;
  padding: 30px;
  font-style: oblique;
  font-size: 2rem;
  transition: all 2s ease;
}
main h4:hover {
  color: rgba(255, 0, 0, 0.623);
  transform: scale(1.3);
}
main .cd {
  text-align: center;
}
main .yt {
  width: 400px;
  height: 350px;
  margin: 20px;
}

.container {
  display: grid;
  grid-template-columns: 6.2fr;
  grid-template-rows: 0.5fr 2.9fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 3px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 6.2fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "main" "footer";
  }
}
@media screen and (min-width: 480px) {
  .container {
    grid-template-columns: 6.2fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "main" "footer";
  }
  main p {
    font-size: 16px;
    line-height: 1.5;
  }
}
body {
  background-color: black;
}
body aside .imgportada {
  width: 500px;
  height: 700px;
  padding-top: 400px;
}
body main {
  padding-top: -300px;
}
body main h2 {
  margin: 50px;
}
body main p {
  font-size: 20px;
}
body main p .linksedit {
  text-decoration: none;
  font-size: 26px;
  color: rgba(150, 15, 15, 0.644);
}
body main p .linksedit:hover {
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 10px;
}

head .flex-container .logoinicio {
  margin-bottom: -150px;
}

.container {
  display: grid;
  padding-top: -100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2.9fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 3px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". ." "main aside" "footer footer";
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

/*# sourceMappingURL=estilo2.css.map */
