body{
main{
    grid-area: main;
    padding-top: 200px;
        .flex-container{
        display: flex;
        flex-flow: row wrap;
        padding: 50px;
        padding-bottom: 50px;
        margin: 0 auto;
        justify-content:space-around;
        h2 {
            padding: 20px;
        }
        .destacada {
            font-size: 3rem;
            color: red;
            text-align: center;
        }
        .linksedit{
            text-decoration: none;
            font-size: 26px;
            color: greenyellow;
        }
        .img1{
            width: 200px;
            margin: 20px;
            transition: all 2s ease;
            &:hover{
                transform:scale(1.4)
                }
            }
        .img2{
            width: 300px;
            margin: 30px;
            transition: all 2s ease;
            &:hover{
                transform:scale(1.4)
                }
        }
        .img3{
            width: 300px;
            margin: 20px;
            transition: all 2s ease;
            &:hover{
                transform:scale(1.4)
                }
        }
        .img4{
            width: 230px;
            margin: 10px;
            transition: all 2s ease;
            &:hover{
                transform:scale(1.7)
                }
        }
}
}
}
p{
    text-align: center;
    color: white;
    font-size: 26px;
}