main{
    h2{
        color: white;
        margin: 15px;
        padding-bottom: 80px;
    }
    h4{
        color: white;
        text-align: center;
        text-decoration:wavy;
        padding: 30px;
        font-style: oblique;
        font-size: 2rem;
    }
        .yt{
            margin-left: 500px;
        }
    }
    .imgcd{
        width: 200px;
        height: 200px;
        
    }