footer {
    background-color: rgba(49, 59, 56, 0.562);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.tamanologo {
    height: 55px;
    width: 55px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
}

.tamanofb {
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

.fontfooter {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 1rem;
    color: white;
    padding: 10px;
}