
.encabezado{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3rem;
    color: white;
    margin-left: 50px;
    text-align: center;
    padding-bottom: 500px;
} 
.contenedor1{
    padding-top: 200px;
    padding: 80px;
.galeria{
        width: 100%;
        display: grid;
        grid-template-columns:(1fr 1fr 1fr 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 15px;
    
        .imggaleria1{
            width: 400px;
            height: 400px;
        }
        .imggaleria2{
            width: 400px;
            height: 400px;
        }
        .imggaleria3{
            width: 600px;
            height: 400px;
        }
        .imggaleria4{
            width: 600px;
            height: 400px;
        }
        .imggaleria5{
            width: 600px;
            height: 400px;
        }
        .imggaleria8{
            width: 600px;
            height: 400px;
        }
        .imggaleria9{
            width: 700px;
            height: 400px;
        }
        .imggaleria10{
            width: 800px;
            height: 400px;
        }
}
}
.container {  
    display: grid;
    grid-template-columns: 6.2fr;
    grid-template-rows: 0.5fr 2.9fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 3px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  
  .header { grid-area: header; }
  
  .footer { grid-area: footer; }
  
  .main { grid-area: main; }

.itemgaleria:nth-child(3){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(4){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(5){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(8){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(9){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(10){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(13){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(14){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(15){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(16){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(17){
    grid-column-start: span 2;
}

@media screen and (min-width:1024px) {
    .container {  
        grid-template-columns: 6.2fr;
        grid-template-rows: 0.5fr 2.9fr 0.7fr;
        grid-auto-columns: 1fr;
        gap: 3px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "main"
          "footer";
      }
}
@media screen and (min-width:480px) {
    .container {  
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2.9fr 0.7fr;
        grid-auto-columns: 1fr;
        gap: 3px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "main"
          "footer";
      }
}