
.encabezado{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3rem;
    color: white;
    margin-left: 50px;
    text-align: center;
    padding-bottom: 500px;
} 
.galeria{
        width: 100%;
        padding: 150px;
        margin: 20px auto;
        display: grid;
        grid-template-columns:(1fr 1fr 1fr 1fr);
        grid-template-rows: repeat(6, 1fr);
    
        .imggaleria1{
            width: 400px;
            height: 400px;
        }
        .imggaleria2{
            width: 400px;
            height: 400px;
        }
        .imggaleria3{
            width: 600px;
            height: 400px;
        }
        .imggaleria4{
            width: 600px;
            height: 400px;
        }
        .imggaleria5{
            width: 600px;
            height: 400px;
        }
        .imggaleria8{
            width: 500px;
            height: 400px;
        }
}
.itemgaleria:nth-child(3){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(4){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(5){
    grid-column-start: span 2;
}
.itemgaleria:nth-child(8){
    grid-column-start: span 2;
}
