body {
  background-color: black;
  aside{
    .imgportada {
      width: 500px;
      height: 700px;
      padding-top: 400px;
    }
    }
    main {
      padding-top: -300px;
      h2{
        margin: 50px;
      }
      p {
        font-size: 20px;
        .linksedit {
          text-decoration: none;
          font-size: 26px;
          color: rgba(150, 15, 15, 0.644);
        
          &:hover {
            background-color: rgba(255, 255, 255, 0.699);
            border-radius: 10px;
          }
        }
      }
    }
  }
  head{
      .flex-container{
    .logoinicio{
      margin-bottom: -150px;
    }
  }
  }

.container {
  display: grid;
  padding-top: -100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2.9fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 3px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "main aside"
    "footer footer";
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}