.flex-container{
    display: flex;
   flex-flow: row wrap;
   padding-top: 250px;
   padding-bottom: 50px;
   margin: 0 auto;
   width: 90%;
   justify-content:space-around;
}
.flex-container2{
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    flex-flow: row wrap;
    justify-content:space-around;
}
.botoncards{
background-color: white;
}
.botoncards:hover{
background-color: rgb(17, 185, 93);
}
.tamanologo2 {
    height: 30px;
    width: 30px;
}
.tamanofb2{
    height: 26px;
    width: 27px;
    border-radius: 10px;
}
.imgcards{
    height: 250px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.cardpropia{
    background-color: rgba(54, 48, 48, 0.37);
}
.logoredes{
    margin-left: 100px;
    margin-top: 100px;
}
.logoredes2{
    margin-left: 100px;
}
.titulopropio{
    color: white;
}
.p1{
    margin-top: 200px;
}