@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

$fonttitulos: 'Koulen', sans-serif;

$fontparrafos: 'Cutive Mono', monospace;

$palabrasdestacadas: 'Holtwood One SC', serif;